* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background: lightblue;
    color: purple;
    font-family: helvetica, sans-serif
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

    padding: 30px;
    text-align: center;
    background: whitesmoke;
    color: black;
    font-size: 25px;

    height: 175px; 
    background-image: url('image/unnamed.png'); 
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: left;

    text-align: center;
        

  } 

  img {
    border-radius: 50%;
  }


.ul{
    list-style-type: none;
}
  
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: lightblue;
  text-align: center;
  padding: 10px;
  text-align: center;
  background: whitesmoke;
  color: black;
  font-size: 20px;
}

.rectangle1{
    width: 200px; 
    height: 100px; 
    background-color: whitesmoke; 
    border: 2px solid #333; 
    border-radius: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    
  }
  
  .rectangle2{
    width: 200px; 
    height: 100px; 
    background-color: whitesmoke; 
    border: 2px solid #333; 
    border-radius: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    
  }

  .rectangle3{
    width: 200px; 
    height: 100px; 
    background-color: whitesmoke; 
    border: 2px solid #333; 
    border-radius: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    
  }

  .rectangle4{
    width: 200px; 
    height: 100px; 
    background-color: whitesmoke; 
    border: 2px solid #333; 
    border-radius: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin:0 auto
    
  }

  .rectangle5{
    width: 200px; 
    height: 100px; 
    background-color: whitesmoke; 
    border: 2px solid #333; 
    border-radius: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
       
  }

  .rectangle6{
    width: 200px; 
    height: 100px; 
    background-color: whitesmoke; 
    border: 2px solid #333; 
    border-radius: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    
  }

  .rectangle p {
    text-align: center; 
    color: black; 
    font-size: 16px; 
  }

  form {
    width: 50%;
    margin: 3em auto;
  }

  label {
    display: block;
    font-weight: 700;
  }

  .form-input {
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      font-weight: 400;
      padding: 1em;
      margin-bottom: 1.5em;
      width: 75%;
  }

  .form-input:focus {
    outline: none;
    border: 2px solid #261f17

  }

  [type="submit"] {
    background-color: lightblue;
    color: purple;
    width: 100%;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 4px;
    border: 0;
    padding: .5em;
    cursor: pointer;
  }

  [type="submit"]:hover,
  [type="submit"]:focus {
    background-color: skyblue;
  }

  .error {
    border-color: red;
  }

  .error-message {
    color: red;
    margin:-1em 0 1.5em;
  }